{% extends "layout.html.twig" %}
{% set active = 'Nascom' %}
{% block page_title %} Contact 
{% endblock %}

{% block content %}


        {% form_theme form 'bootstrap_3_layout.html.twig' %}

<!--/ Section Contact/-->

<section class="bg-image mt-4 backcontact">
  <div class="container">
    <div class="row">
      <div class="mx-auto col-sm-8">
        <div class="contact-mf">
          <div id="contact" class="box-shadow-full contact">

            <div class="row">
              <div class="col-md-12">
                <div class="title-box-2">
                  <h5 class="title-left text-center">
                    Nous contacter
                  </h5>
                </div>

                <div>

                      {{ form_start (form )}}

                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          
                      {{ form (form) }}

                          <div class="validation"></div>
                        </div>
                      </div>

                      {{ form_end (form, { attr: { novalidate: 'novalidate' } } ) }}


            {% for message in app.flashes('notice') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}


                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- 

<section class="bg-image mt-4 backcontact">
  <div class="container">
    <div class="row">
      <div class="mx-auto col-sm-8">
        <div class="contact-mf">
          <div id="contact" class="box-shadow-full">
            <div class="row">
              <div class="col-md-12">
                <div class="title-box-2">
                  <h5 class="title-left">
                    Nous contacter
                  </h5>
                </div>


                <div>
                  <form action="" method="post" role="form" class="contactForm">
                    <div id="sendmessage">Merci pour votre message !</div>
                    <div id="errormessage"></div>
                    <div class="row">
                        <div class="form-group col-md-4">
                          <select name="type" id="inputState" class="form-control">
                            <option selected>Civilité</option>
                            <option>Mr</option>
                            <option>Mrs</option>
                          </select>
                        </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <input type="text" name="name" class="form-control" id="name" placeholder="Nom" data-rule="minlen:4" data-msg="Minimum 4 caractères" />
                          <div class="validation"></div>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Rentrer une email valide" />
                          <div class="validation"></div>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet" />
                          <div class="validation"></div>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <input type="text" class="form-control" name="societe" id="subject" placeholder="Société" />
                          <div class="validation"></div>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Message requis" placeholder="Message"></textarea>
                          <div class="validation"></div>
                        </div>
                      </div>
                      <div class="col-md-12 text-center">
                        <button type="submit" class="button button-a button-big button-rouded">Envoyer</button>
                      </div>

                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


-->




{% endblock %}