{% extends "layout.html.twig" %}
{% set active = 'inscription' %}
{% block page_title %} Inscription {% endblock %}
{% block content %}
    <div class="container sect-mt4">
    <div class="row">
        <!--<div class="col-xs-6 col-xs-push-3">-->
        <div class="col-md-8 mx-auto">
            <h2 class="text-center">Inscription </h2>
            {{ form( form, { attr: { novalidate: 'novalidate' } } ) }}
            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            <div class="col-md-3">
                {{ form_row(form.title) }}
            </div>

            {{ form(form) }}
        </div>
    </div>
    </div>
{% endblock %}