{% extends "layout.html.twig" %}
{% set active = 'inscription' %}
{% block page_title %} Modification {% endblock %}
{% block content %}
    <div class="row">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        <div class="mx-auto col-md-8 sect-mt4">
            <h2 class="text-center">Modifier mon profil </h2>

            {{ form(form) }}
        </div>
    </div>
{% endblock %}