{% extends "layout.html.twig" %}


{% block title %}

    Nascom | ...

{#  
{% set active = article.category.slug %} 
#}
 
{#  
{% block page_title %}
{{ article.title | title }}
{% endblock %}  
#}

{% endblock %}


{% block content %}



<body>

  <!--/ Intro Skew Star /-->
  <div class="intro intro-single route bg-image" style="background-image: url(img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <h2 class="intro-title mb-4">NOM DU PRODUIT</h2>
          <ol class="breadcrumb d-flex justify-content-center">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">Library</a>
            </li>
            <li class="breadcrumb-item active">Data</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->

  <!--/ Section Blog-Single Star /-->
  <section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="post-box">
            <div class="post-thumb">
              <img src="img/post-1.jpg" class="img-fluid" alt="">
            </div>
            <div class="post-meta">
              <h1 class="article-title">Titre du produit</h1>
              <ul>
                <li>
                  <span class="ion-ios-person"></span>
                  <a href="#">Date de publication</a>
                </li>
                <li>
                  <span class="ion-pricetag"></span>
                  <a href="#">Référence : </a>
                </li>
                <li>
                  <span class="ion-chatbox"></span>
                  <a href="#">Marque : </a>
                </li>
                <li>
                  <span class="ion-chatbox"></span>
                  <a href="#">Etat : </a>
                </li>
              </ul>
            </div>
            <div class="article-content">
              <p class="lead">
                Résumé (description) : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              </p>
            

                                <nav class="nav nav-tabs">
                                    <a class="nav-item nav-link active" href="#p1" data-toggle="tab">APPLICATION DIAGRAM</a>
                                    <a class="nav-item nav-link" href="#p2" data-toggle="tab">SPECIFICATION</a>
                                    <a class="nav-item nav-link" href="#p3" data-toggle="tab">TECHNICAL SPE</a>
                                    <a class="nav-item nav-link" href="#p4" data-toggle="tab">PROTOCOL</a>
                                    <a class="nav-item nav-link" href="#p5" data-toggle="tab">SECURITY</a>
                                </nav>

                                <div class="tab-content">

                                    <div class="tab-pane active " id="p1">

                                        <p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum dolorem soluta quidem
                                            expedita aperiam aliquid at.</p>

                                    </div>

                                    <div class="tab-pane " id="p2">

                                        <p class="lead"> Totam magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis
                                            mollitia inventore?</p>
                                    </div>
                                </div>

              <blockquote class="blockquote">
                <p class="mb-0 lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              </blockquote>

            </div>
          </div>

<!--

          <div class="box-comments">
            <div class="title-box-2">
              <h4 class="title-comments title-left">Comments (34)</h4>
            </div>
            <ul class="list-comments">
              <li>
                <div class="comment-avatar">
                  <img src="img/testimonial-2.jpg" alt="">
                </div>
                <div class="comment-details">
                  <h4 class="comment-author">Oliver Colmenares</h4>
                  <span>18 Sep 2017</span>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores reprehenderit, provident cumque
                    ipsam temporibus maiores
                    quae natus libero optio, at qui beatae ducimus placeat debitis voluptates amet corporis.
                  </p>
                  <a href="3">Reply</a>
                </div>
              </li>
              <li>
                <div class="comment-avatar">
                  <img src="img/testimonial-4.jpg" alt="">
                </div>
                <div class="comment-details">
                  <h4 class="comment-author">Carmen Vegas</h4>
                  <span>18 Sep 2017</span>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores reprehenderit, provident cumque
                    ipsam temporibus maiores
                    quae natus libero optio, at qui beatae ducimus placeat debitis voluptates amet corporis,
                    veritatis deserunt.
                  </p>
                  <a href="3">Reply</a>
                </div>
              </li>
              <li class="comment-children">
                <div class="comment-avatar">
                  <img src="img/testimonial-2.jpg" alt="">
                </div>
                <div class="comment-details">
                  <h4 class="comment-author">Oliver Colmenares</h4>
                  <span>18 Sep 2017</span>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores reprehenderit, provident cumque
                    ipsam temporibus maiores
                    quae.
                  </p>
                  <a href="3">Reply</a>
                </div>
              </li>
              <li>
                <div class="comment-avatar">
                  <img src="img/testimonial-2.jpg" alt="">
                </div>
                <div class="comment-details">
                  <h4 class="comment-author">Oliver Colmenares</h4>
                  <span>18 Sep 2017</span>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores reprehenderit, provident cumque
                    ipsam temporibus maiores
                    quae natus libero optio.
                  </p>
                  <a href="3">Reply</a>
                </div>
              </li>
            </ul>
          </div>

 --> 

    {# Sidebar #}
    {% include 'components/_sidebar.html.twig' %}
   {# {{ render(controller('App\\Controller\\TechNews\\IndexController::sidebar')) }}#}


</body>


{% endblock %}