
<!--/ Footer Star /-->


    <footer>
        <div class="container footerbacksecurity">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright-box">
                        <p class="copyright ">&copy; Copyright <strong>Nascom</strong>. All Rights Reserved</p>
                        <div class="credits">
                            <ol class="breadcrumb d-flex justify-content-center modifdufooter">
                                <li class="breadcrumb-item">
                                <a href="{{ path('mentions') }}">Mentions légales</a>
                                </li>
                                <li class="breadcrumb-item">
                                <a href="{{ path('cg') }}">Conditions générales</a>
                                </li>
                                <!-- <li class="breadcrumb-item active">Slug</li> -->
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>
<!--/ Section Contact-footer End /-->