{% extends "layout.html.twig" %}
{% set active = 'Nascom' %}
{% block page_title %} Conditions Générales {% endblock %}

{% block content %}

  <div class="intro intro-single bg-image">
    <div class="overlay-mf"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <h2 class="intro-title mb-4">Conditions Générales d'utilisation</h2>
          <ol class="breadcrumb d-flex justify-content-center">
            <li class="breadcrumb-item active">Les présentes Conditions Générales s’appliquent à toutes les commandes passées sur le site www.nascom.com
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!--/ Section Blog-Single Star /-->
  <section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="post-box">
            <div class="post-meta">
              <h1 class="article-title ">Condition générale</h1>
              <ul>
                <li>
                  <span class="ion-ios-calendar"></span>
                  <a href="#">17/06/2019</a>
                </li>
              </ul>
            </div>

            <div class="article-content">
              <p class="lead">
              <strong> 1 - Notre Société </strong>
              <br>
              La société NASCOM FRANCE est propriétaire et exploite le site « nascom ».<br>
              Nascom est une société à responsabilité limitée au capital de 30 000€, immatriculée au registre du commerce et des sociétés de Versailles (78) sous le numéro B 801 361 908
              <p>

              <p class="lead">
              <strong>2 - Nous contacter </strong>
              <br>
              Pour toutes informations et questions, notre Service Clients est à votre disposition : <br>
              - Par Courriel : à l'adresse mail suivante : contact@voxiscom.com <br>
              - Par Téléphone : au 01 76 74 00 00, de 9h30 à 18h30 sans interruption du lundi au vendredi,  hors jours fériés. <br>
              <p>

              <p class="lead">
              <strong>3 - Nous écrire à l'adresse suivante :  </strong>
              <br>
              VOXISCOM FRANCE
              <br>
              2 Rue Eugène Pottier contact@voxiscom.com 
              <br>
              78190 Trappes-en-yvelines
              </p>
            </div>

              <blockquote class="blockquote">
              <a class="mb-0 lead" href="www.nascom.fr">www.nascom.fr</a>
              </blockquote>
            
            </div>
            </div>
          </div>

{% endblock %}