{% extends "layout.html.twig" %}
{% set active = 'Nascom' %}
{% block page_title %} CG {% endblock %}

{% block content %}

  <div class="intro intro-single bg-image">
    <div class="overlay-mf"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <h2 class="intro-title mb-4">Conditions Générales</h2>
          <ol class="breadcrumb d-flex justify-content-center">
            <li class="breadcrumb-item active">Les présentes Conditions Générales s’appliquent à toutes les commandes passées sur le site www.nascom.com
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!--/ Section Blog-Single Star /-->
  <section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="post-box">
            <div class="post-meta">
              <h1 class="article-title ">Condition générale</h1>
              <ul>
                <li>
                  <span class="ion-ios-calendar"></span>
                  <a href="#">Date de publication</a>
                </li>
              </ul>
            </div>

            <div class="article-content">
              <p class="lead">
                
                Les présentes Conditions Générales de Vente s’appliquent à toutes les commandes passées sur le site www.printoclock.com ainsi qu’à toutes les commandes passées par tout autre moyen auprès de la société CONSTELLACOM.
 Elles ont vocation à compléter les usages professionnels et conditions générales de vente des industries graphiques et des travaux d'imprimerie établies par la fédération française de l'imprimerie et des industries graphiques.

En cas de commande par téléphone, e-mail, courrier ou autre, un exemplaire des Conditions Générales de Vente doit impérativement être retourné signé avec le bon de commande.

En cas de commande sur le site Internet www.printoclock.com, le Client reconnaît, en cochant la case « J’ai lu et accepte les conditions générales de vente» au bas des Conditions Générales de Vente, avoir pris connaissance et accepté les présentes ainsi que les droits et obligations en découlant.

La validation des Conditions Générales de Vente emporte renonciation à toute application d' éventuelles Conditions Générales d’Achat du Client

La société CONSTELLACOM (Ci-après « Printoclock ») se réserve le droit de modifier ou d'adapter à tout moment et sans préavis les présentes Conditions générales, notamment, pour les mettre en conformité avec les dispositions légales et réglementaires. Le Client est donc invité à les consulter de manière régulière et en tout état de cause avant toute passation de Commande. La version applicable à une Commande est la version soumise à lecture et accord au moment de la Commande.

Identification de l’exploitant du site www.printoclock.com
Le site www.printoclock.com est géré par la société CONSTELLACOM
SAS au capital de 67 500€
229 route de Seysses
31100 TOULOUSE
SIRET : 501 660 237 00014
NAF : 748K
N° TVA Intracommunautaire : FR18501660237
1. Prix
1.1. Prix indiqués sur le site internet www.printoclock.fr
Les prix indiqués sur le site et au moment du paiement sont mentionnés en hors taxes et toutes taxes comprises.

Dans le cadre des programmes de remises temporaires organisé par Printoclock, les prix indiqués tiennent compte des remises effectuées.

1.2. Prix indiqués sur le devis
Le devis établi au bénéfice d’un Client professionnel ou non-professionnel mentionne le montant hors taxes et toutes taxes.

2. Commande
2.1. Commande sur le site internet www.printoclock.fr
Création de compte Client :

Le Client n’a la possibilité de passer commande sur le Site Internet qu'à la condition qu'il se soit au préalable identifié via la connexion à son Compte.

Pour obtenir son identification, le Client doit compléter un formulaire mis à sa disposition, dans lequel il mentionne les informations nécessaires à son identification et notamment, ses nom/prénom ou dénomination sociale, numéro de téléphone, adresse électronique, adresse de facturation et de livraison, et le mot de passe qu'il a choisi.

Pour passer Commande sur le Site Internet, le Client doit ensuite obligatoirement s'identifier en entrant son adresse email et son mot de passe.

Le mot de passe est personnel et confidentiel. Chaque Client est entièrement responsable de l’utilisation et de la préservation de son mot de passe. Chaque Client s’engage à tout mettre en œuvre pour conserver secret son mot de passe et à ne le divulguer à quiconque. Afin de préserver le caractère confidentiel du mot de passe, le Client est invité à se déconnecter du Site Internet à la fin de chaque Commande.

Toute perte ou divulgation involontaire d’élément susceptible de permettre à un tiers de prendre connaissance du mot de passe d’un Client, devra être immédiatement signalée par écrit, afin que Printoclock procède à un changement du mot de passe.

En cas d’oubli du mot de passe, le Client devra l’indiquer via la rubrique « Mot de passe oublié ? ». Il recevra alors un email de réinitialisation de son mot de passe à l’adresse email indiquée lors de son inscription.

Processus de commande sur Internet :

Le Client a la possibilité de passer commande à partir des références des offres de produits disponibles sur le site Internet www.printoclock.com.

Chacun des produits disponibles sur le site Internet www.printoclock.com fait l'objet d'un descriptif et d’option à sélectionner par le Client aux fins de commande du produit souhaité.

Deux possibilités sont notamment offertes au Client qui doit choisir entre une commande avec fourniture des fichiers et commande en utilisant des modèles personnalisables.

Toute commande du Client vaut acceptation sans réserve des prix et de la description des produits commandés.

A partir des références disponibles sur le Site Internet www.printoclock.com, le Client sélectionne les produits dont il souhaite se porter acquéreur en cliquant sur le bouton "Commander".

A toutes les étapes de la prise de commande, le Client a la possibilité de consulter et de modifier le contenu de sa commande en cliquant sur le bouton "Mon panier".

Le Client ayant choisi les produits qu'il souhaite acquérir et vérifié le contenu de sa commande peut procéder à la finalisation de sa commande en cliquant sur le bouton "Poursuivre".

Pour terminer et valider la commande, le Client doit, après avoir vérifié le récapitulatif de sa commande, puis consulté et accepté les présentes Conditions générales de vente, saisir les différentes informations nécessaires à son paiement.

En cas de transmission de fichiers, ceux-ci doivent avoir été déposés sur les serveurs de Printoclock et être en conformité avec les spécifications techniques pour que la commande puisse être confirmée.

La validation de la commande n'est considérée comme définitive et n'engage les Parties qu'à compter du paiement du prix de la commande par le Client. Jusqu’à validation de la commande, le Client peut abandonner ou modifier la commande à tout moment. Au moment de payer, il sera demandé au client de confirmer le contenu du panier.

Afin de lutter contre la fraude, Printoclock se réserve le droit de demander au Client tout document nécessaire à la vérification de son identité, de l'authenticité de son moyen de paiement et/ou de son domicile.

Une fois le paiement effectué et les fichiers conformes transmis, le Client reçoit un e-mail récapitulatif de sa commande mentionnant le délai estimatif de livraison.

Dans le cas d'un paiement par virement ou d'un envoi des fichiers différé, un premier e-mail récapitulatif de la commande est transmis. Après transmission des éléments manquants, un e-mail de confirmation indiquant que la commande est correctement finalisée sera généré et remis au Client.

2.1. Commande par téléphone, ou courriel :
Le Client ayant contacté Printoclock par tout autre moyen que le site internet se verra proposé un devis correspondant à sa demande de cotation.

La simple remise d’un devis n’engage pas Printoclock à exécuter les travaux dudit devis.

Les devis sont valables un mois à compter de leur date d’émission, en raison des variations de tarifs des matières premières. Passé ce délai, les tarifs pourront être révisés.

Dès lors que le devis correspondant à sa demande, en termes de description de la prestation et de prix, il lui appartient de dater, signer et parapher le bon de commande et les Conditions Générales de Vente également transmis par Printoclock, et de joindre la preuve de ce que le paiement par virement afférent a été effectué.

Dès lors que le paiement aura été confirmé, Printoclock transmettra au Client une confirmation de la commande comportant l’indication du délai de réalisation de la prestation.

3. Personnalisation
Dans le cadre des modèles personnalisables, il incombe au Client d’indiquer toutes les spécificités du produit souhaité.

Il appartient au Client de vérifier, au moyen de la prévisualisation du modèle choisi voire modifié avant confirmation de sa commande, la conformité du celle-ci.

Aucune demande de modification de la commande finalisée faite par téléphone ou par e-mail ne sera prise en compte, sauf validation expresse et écrite de Printoclock.

4. Fichiers fournis par le client
Lorsque cette option est choisie, à chaque commande correspond un fichier (ou un ensemble de fichiers Recto, Verso et finitions) devant être fourni par le Client. Il incombe à ce dernier de se conformer à la documentation fournie sur le site de Printoclock (www.printoclock.com) pour chaque type de produits ainsi qu’aux contraintes techniques mentionnées, celles-ci devant être respectées pour garantir une qualité optimale de la prestation.

Sauf dispositions spécifiques prises avec le Client, Printoclock exécute les commandes sur la base des fichiers fournis ou transférés par le Client.

En cas de format non conforme aux prescriptions techniques, Printoclock contactera le Client via son compte Client ou, en cas de commande en direct, via les coordonnées transmises pour l’en avertir et demander la transmission de fichiers correspondant aux impératifs techniques de Printoclock. A défaut d’une telle transmission, le Client pourra annuler sa commande dans les conditions de l’article 8 ci-dessous.

Dans le cas où un client souhaite lancer en impression un fichier non conforme aux spécifications techniques, Printoclock ne peut garantir une réalisation sans défaut d'impression.

Le Client est entièrement responsable de l'intégrité et de l'exactitude des fichiers transférés. Le Client doit s'assurer de l'utilisation de logiciels anti-virus avant le transfert de fichiers et s'engage à fournir des fichiers exempts de tout virus, trojan, etc.

Hormis les cas où les fichiers sont illisibles, non traitables ou présentent manifestement un défaut remettant en cause de manière sérieuse la qualité des produits finaux - auxquels cas le Client en sera informé avant la réalisation de la prestation -, Printoclock n’est soumis à aucune obligation de contrôle portant notamment mais sans s’y limiter sur le montage des visuels, l’orthographe, les crédits photos ou la présence des mentions légales obligatoires.

Ne sont uniquement acceptés que les fichiers au format PDF, JPEG, TIFF. Les fichiers aux formats natifs (format XPRESS, AI Indesign, PSD, etc.) ne sont pas acceptés.

De plus, Printoclock ne peut garantir le résultat de l’impression d’un document PDF non aplati ou EPS généré à partir de tous les logiciels y compris Quark Express, Word, Excel, Publisher, Powerpoint etc.

Pour plus de détails, il convient de se référer aux spécifications techniques.

5. Bon à tirer (BAT) numérique
Lors de la commande, le Client peut opter ou non pour l’émission d’un BAT numérique.

Le BAT numérique a pour but de permettre le contrôle par le Client de sa commande, une fois les traits de coupe représentés et le fichier mis aux normes. Il n'est en rien gage du rendu des couleurs à l'impression, celles- ci ne pouvant être visualisées de façon réaliste sur un écran.

L’émission du BAT numérique par Printoclock ne constitue en aucun cas un contrôle du contenu du document par Printoclock.

Si le Client coche « oui » à cette option lors de sa commande, un BAT numérique lui sera envoyé via son compte Client. Il lui incombe de procéder à sa relecture, d’apporter toutes les modifications nécessaires sur son fichier et de le retransmettre à Printoclock en le validant dans son compte Client.

Printoclock ne peut initier la production de la commande sans l’approbation du Client par le biais de son interface. Dès lors que le Client accepte le BAT numérique proposé, plus aucune modification ne peut être apportée, la commande étant transmise automatiquement au Service de production.

Pour une commande avec émission d’un BAT numérique, le délai de livraison est calculé à partir de la date et de l’heure de validation de ce dernier par le Client.

6. Facture
Lors de la commande, le Client accepte que la mise à disposition des factures soit opérée par voie électronique ; aucune facture ne sera alors jointe aux colis.

En cas de facture électronique, la facture est disponible dès validation de la commande et à tout moment depuis le compte Client.Un exemplaire papier pourra lui être communiqué sur simple demande.

7. Paiement
Sauf convention expresse et écrite, le prix est payable comptant en totalité au moment de la commande.

La commande ne sera définitive qu’à compter du paiement effectif, ce dernier n’étant considéré comme tel qu’après encaissement effectif et complet des sommes dues.

A l’issue du processus de commande en ligne, les modes de paiement suivants sont proposés pour régler le montant de cette dernière :
Carte Bancaire
Virement
Paypal
Modalités spécifiques au « paiement fin de mois » :

Pour certains Clients professionnels et non-professionnels en ayant fait la demande directement auprès de Printoclock et remplissant les conditions requises (Constitution d’un dossier comportant une autorisation de prélèvement SEPA, une photocopie de la pièce d'identité ou du Kbis et dûment agréé par notre organisme de recouvrement), un paiement par prélèvement en fin de mois peut être accordé. Si le Client ne répond plus aux conditions définies, le paiement à la commande sera exigé.

Modalités spécifiques aux virements bancaires :

Le Client est tenu d’indiquer le numéro de sa commande ou de sa facture en référence du virement bancaire.

Le Client est informé de ce que le délai de livraison est modifié en fonction de la date de réception du virement bancaire. Ce délai de livraison court à compter de la réception effective dudit paiement.

Pour les Clients professionnels et non-professionnels bénéficiant de conditions de paiement décalées après la commande, il est précisé que tout retard de paiement entraînera l’application d’un intérêt de retard à hauteur de trois fois le montant de l’intérêt légal applicable, sans mise en demeure préalable. Les intérêts seront capitalisables annuellement. Outre ces intérêts, le Client sera redevable d’une indemnité forfaitaire de retard de 40€, sauf justification de frais complémentaires exposés par Printoclock.

Au surplus, Printoclock se réserve la propriété des produits livrés jusqu’à complet paiement. A défaut de paiement complet à l’échéance, Printoclock se réserve le droit de demander la restitution des produits afin de recouvrer le droit d’en disposer.

Condition d’utilisation du coupon de réduction :

Printoclock, peut distribuer des coupons ouvrant droit à une réduction du prix d’un achat :
Soit en valeur absolue;
Soit en pourcentage.
Sauf convention expresse ou mention contraire, la validité du coupon est de 12 mois maximum à compter de sa date d’émission.

Printoclock se réserve le droit de désactiver à tout moment un coupon promotionnel dans le cadre d'une utilisation abusive de celui-ci.

Sauf mention contraire un coupon n'est valable qu'une fois par personne morale ou physique.

8. Refus et annulation de commande
8.1. Refus d’une commande
Printoclock se réserve le droit de refuser la commande dans les cas où les pièces et fichiers fournis par le Client ne présentent pas les critères requis pour une impression de qualité.

En pareil cas, le Client est notifié et peut choisir de demander à Printoclock de réaliser tout de même la prestation, étant bien précisé qu’aucune garantie ne peut être donnée quant au résultat d’impressions réalisées à partir de fichiers non conformes aux normes d'impression traditionnelles et aux contraintes techniques indiquées sur le site.

8.2. Annulation d’une commande
Le Client n’a la possibilité d’annuler ou de modifier sa commande qu’avant le traitement du fichier par les services de production de Printoclock. La demande d’annulation doit impérativement être envoyée par écrit via le formulaire de contact accessible sur le site Printoclock.

Toute annulation fera l’objet de frais administratifs et techniques (création du dossier, traitement mail, renseignements techniques, facturation, contrôle des fichiers, imposition, arrêt de production…) à hauteur de 10€ HT (12,00€ TTC).

Printoclock se réserve le droit d’annuler toute commande et de supprimer définitivement le compte client en cas de violences verbales ou physiques envers ses personnels, l’utilisation de langage cru étant considérée comme faisant partie des violences verbales.

9. Livraison
Les délais de livraison sont exprimés en jours ouvrés.

La date de livraison indiquée correspond à la date calculée à partir de la commande finalisée (paiement définitif, BAT validé, fichiers conformes et transmis par le Client, etc.).

Le Client peut opter pour un téléchargement différé des fichiers. Dans un tel cas, la date de livraison est recalculée à partir du moment où ses fichiers arrivent effectivement sur le serveur de Printoclock.

Printoclock s'engage à respecter ces délais. Toutefois des aléas relatifs à la fabrication ou à la livraison de la commande peuvent, dans des cas exceptionnels, conduire à un retard. PrintOclock met alors tout en œuvre pour que la commande parvienne au Client dans les meilleurs délais.

En cas de retard, le Client peut adresser un courrier recommandé avec avis de réception enjoignant Printoclock de procéder à la livraison de la commande dans un délai de 15 jours ouvrés.

Conformément à l'article L216-2 du Code de la Consommation, si la livraison n’est pas intervenue dans ce délai, le Client consommateur peut résoudre le contrat par lettre recommandée avec accusé de réception. Le contrat est rompu à réception du courrier, si Printoclock ne s'est pas exécuté entre temps. La commande est alors considérée comme annulée et le Client est remboursé sous quatorze (14) jours.

Ne peuvent être considérés comme imputables à Printoclock les retards de livraison dès lors qu’ils ont pour origine :
Une adresse erronée ou incomplète; ou
Des absences répétées du Client aux horaires de livraison.
10. Délai de rétractation
Le Client est réputé avoir pris possession de sa commande dès la signature du bon de livraison et la remise du colis par le transporteur.

Dans le cas où la livraison est retournée à Printoclock, le colis sera conservé un mois. Passé ce délai et après avoir averti le Client par e-mail, la marchandise sera détruite. Si le Client opte pour le renvoi du colis, Printoclock se réserve le droit de demander au Client des frais de renvoi à hauteur de 15€ TTC par colis à renvoyer.

Le Client doit signaler sur le bon de livraison ou auprès du transporteur, dès livraison, les éventuelles avaries et dégradations que les colis ont pu subir. Le Client a ensuite deux jours ouvrés pour notifier Printoclock afin que la société puisse ensuite se retourner contre le transporteur. Aucune réclamation quant à d'éventuelles dégradations dues au transport ne pourra être prise en compte passées ces deux (2) jours après réception du colis.

Modes de livraison :

Les livraisons des petits colis (jusqu’à 30 kg) sont effectuées par :
DPD en 24H/48H : Livraison du lundi au vendredi entre 8H30 et 18H30.
Chronopost en 24H : Livraison du lundi au vendredi entre 8H et 13H.
Les palettes sont livrées par des transporteurs en 24H/48H.

11. Qualité des produits
Les impressions étant principalement réalisées en amalgame (regroupement de plusieurs fichiers sur une planche), le Client accepte sans réserve les contraintes techniques liées à ce type d’impression.

Printoclock ne pouvant pas garantir à 100% une chromie, le Client accepte qu’il y ait des variations de teinte tout au long d’un tirage et des anomalies bénignes pouvant avoir échappé à la surveillance de Printoclock.

De même, Printoclock ne peut restituer une couleur, un rendu identique au fichier visualisé sur écran ou imprimé par l’imprimante du Client ou d’un tiers. Le rendu d'un fichier à l'écran ne peut en aucun cas être comparé au rendu après impression.

En cas de réimpression, même à partir du même fichier, les rendus d’impression peuvent ne pas être identiques.

Ayant ses propres contraintes techniques et donc un cahier des charges en découlant, Printoclock n’est tenue de rendre un travail identique à celui réalisé par ses confrères.

Afin d’éviter les risques, Printoclock recommande vivement au Client de respecter les spécifications techniques , d’utiliser ses gabarits et le cas échéant d’opter pour une vérification de fichier. En cas de non-respect de ces recommandations, la responsabilité de Printoclock ne serait en aucun cas engagée.

Printoclock, ne peut garantir une parfaite similitude entre les supports (papier, structures, emballage etc.) d'une commande à une autre.

12. Garanties
Pour les Clients  procédant à des commandes de plus de 500 unités, les quantités commandées seront livrées dans les limites d’une tolérance de 10% en plus ou en moins. Les teintes d’encre ainsi que les quantités de papier ne seront garanties que dans les limites des tolérances admises dans les secteurs d’imprimerie. Le Client professionnel ou non-professionnel admettra donc sur l’ensemble du tirage la présence de défauts mineurs, invisibles pour l’utilisateur non averti tels puces, légères variations de couleurs, d’intensité ou de découpe.

De même, le Client professionnel ou non-professionnel accepte que le format fini puisse varier de 7 % par rapport au format initial commandé. Aussi, le document peut être imprimé ou coupé près de la ligne de coupe, cependant, en raison des variables mécaniques liées à l’imprimerie, l'impression, la coupure effective ou le pliage peut survenir n’importe où entre la ligne de sécurité et les marges pleines. C’est pourquoi, il peut y avoir un léger décalage sur les côtés du produit fini. En aucun cas, ce décalage ne pourra être considéré comme défaut entraînant un retirage ou un geste commercial.

Le papier n'étant pas acheté en stock mais fabriqué à la demande de Printoclock sur des formats prédéfinis, l'usine se réserve le droit de tolérance de plus ou moins 8 % en ce qui concerne le grammage. À ce titre, le Client accepte sans réserve ces conditions.

De convention expresse entre les parties, Printoclock est soumise à une obligation de moyens pour l’exécution de ses obligations au titre des prestations de service objet du présent contrat.

Elle ne saurait être responsable des dommages matériels pouvant atteindre les immeubles, installations, biens mobiliers, corporels ou incorporels du Client.

En outre, le Client renonce à engager la responsabilité de Printoclock pour appel en garantie du fait de préjudice subis par lui ou par des tiers ayant utilisé, directement ou indirectement, les travaux réalisés par Printoclock. De la même manière, Printoclock ne saurait être tenue responsable des pertes directes ou indirectes que pourraient subir le Client professionnel ou non-professionnel ou des tiers, du fait des prestations exécutées.

Dans le cas où une condamnation serait prononcée à l’encontre de Printoclock, toutes causes confondues, principal, intérêts et frais, les parties conviennent que Printoclock ne sera pas tenue à un montant supérieur au coût global de la prestation en cause visée dans les conditions particulières (Commande) aux présentes.

13. Réclamation
Toutes les réclamations relatives à des commandes en ligne sont émises par le Client depuis l'espace "Mon compte". Le Client signale l’anomalie en fournissant tous les éléments permettant à Printoclock de traiter la requête dans les plus brefs délais.

Toute réclamation doit être déclarée dans les 15 jours suivant la date de livraison effective ou la date de livraison estimée le cas échéant. Les réclamations portant sur une quantité manquante ou un colis endommagé doivent être faites dans les 48 heures après réception de la marchandise.

Les marchandises utilisées (affichées, collées, distribuées, etc.) ne peuvent faire l'objet d'une réclamation sans garantie explicite sur le site.

Une anomalie ne peut être signalée via le compte du Client que lorsque la commande est passée en statut « expédié ».

En cas de réclamation hors ligne ou avant que la commande en ligne n’ait atteint ce statut, le Client doit contacter directement le service client de Printoclock au 05 35 37 01 80.

Si les éléments fournis par le Client ne permettent pas de constater l'anomalie signalée, un retour de la marchandise (non utilisée par le Client) sera effectué. Ce n'est qu'à réception de cette dernière qu'une décision sera prise.

Le Client sera informé, dans les quarante-huit (48) heures ouvrées de la réception de sa demande par Printoclock, de la réponse qui lui est accordée.

14. Propriété intellectuelle
Le Client est seul responsable du contenu des produits dès lors qu’ils ont été personnalisés avec les éléments qu’il a fourni. Il dispose obligatoirement de tous les droits et autorisations nécessaires pour insérer dans les produits qu'il commande des objets, images, marques, photos, logos, dessins et garantit Printoclock que ces droits et autorisations sont valides, et que l'utilisation des produits n’est et ne sera pas constitutive d'une quelconque violation des droits d'un tiers.

De même, il est seul responsable de l’oubli des mentions obligatoires.

Le Client déclare également que les produits dont il commande la réalisation ne sont pas susceptibles de constituer des faux ou de porter atteinte à des tiers et, d'une manière générale, que la réalisation et la production des produits ne contreviendront à aucun droit, règle ou législation en vigueur.

En conséquence, le Client garantit Printoclock de toute action et toute réclamation à raison de ces droits et s'engage à l'indemniser de toutes les conséquences résultant de toute action intentée par des tiers qui s’estimeraient lésés par l'impression, de la diffusion et, d'une manière générale de l'utilisation des produits commandés.

Printoclock déclare que les droits relatifs aux modèles mis en ligne à la disposition des Clients dans le cadre de leur commande lui appartiennent et que le Client est expressément autorisé à utiliser les modèles ainsi commandés, sous réserve de ce que la personnalisation de contrevienne pas à des droits tiers ou à la loi.

L’autorisation n’est accordée que pour l’usage du modèle tel que proposé par Printoclock et apposé sur les produits commandés, le Client ne pouvant à aucun moment reproduire ou faire reproduire tout ou partie de ces modèles à d’autres fins ou sur d’autres supports.

15. Validité
Si certaines conditions parmi les présentes Conditions Générales sont en partie ou entièrement nulles et non avenues ou le deviennent, les autres conditions restent valides. La condition nulle et non avenue est remplacée par la réglementation légale.

16. Données personnelles
Printoclock s’engage à respecter la vie privée du Client, ainsi que la sécurité et la confidentialité des données et des informations qui lui sont communiquées par le Client.

Dans le cadre de la collecte et du traitement des données personnelles, Printoclock met à disposition du Client l’ensemble des informations relatives aux conditions de traitement de ces données et aux droits dont dispose le Client dans sa rubrique spécifique « Mentions légales et vie privée ».

Pour rappel, le Client dispose :
du droit d’accéder à l’ensemble de ses données personnelles faisant l’objet d’un traitement ;
du droit d’en demander la rectification ;
du droit d’en demander l’effacement ;
du droit d’en demander la limitation ;
du droit de s’opposer à tout moment au traitement de ses données personnelles à des fins de prospection et/ou à des fins statistiques ;
un droit de définir des directives relatives à la conservation, à l’effacement et à la communication de leurs Données à caractère personnel après leur décès ;
du droit d’introduire une réclamation auprès de la Commission Nationale de l’Informatique et des Libertés.
Pour toute information sur la pratique de Printoclock en regard des cookies, une rubrique spécifique est également à la disposition du Client : « Mentions légales et vie privée »..

17. Droit applicable et litiges
Les présentes Conditions générales, ainsi que l’ensemble des rapports contractuels qui pourraient en découler sont soumis au droit français.

Les Tribunaux du ressort de la Cour d’Appel de Toulouse seront seuls compétents, sous réserve d’une attribution de compétence spécifique découlant d’un texte de loi ou réglementaire particulier.
              </p>
            </div>
              <blockquote class="blockquote">
                <p class="mb-0 lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              </blockquote>
            </div>
            </div>
          </div>

{% endblock %}